---
language: node_js
node_js:
  - "10"
  - "node"
  - "lts/*"
branches:
  only:
    - master
    - develop
    - /^greenkeeper/.*$/
cache: yarn
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
  - yarn global add greenkeeper-lockfile@1
  - yarn global add codecov
install: yarn
before_script:
  - greenkeeper-lockfile-update
script:
  - yarn test
after_script:
  - codecov
  - greenkeeper-lockfile-upload
jobs:
  include:
    - stage: npm release
      if: tag IS present
      node_js: "10"
      deploy:
        provider: npm
        email: "$NPM_EMAIL"
        api_key: "$NPM_TOKEN"
        skip_cleanup: true
        on:
          tags: true
