---
name: Publish Package to npmjs
on:
  pull_request:
    branches:
      - master
    types:
      - closed

permissions:
  contents: write

jobs:
  bump:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Automated Version Bump
        uses: phips28/gh-action-bump-version@v11.0.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag-prefix: v
          target-branch: master

      - name: Release Builds
        uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: latest
          prerelease: false

      - name: Setup .npmrc file to publish to npm
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org
          scope: '@lupinthe14th'
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        shell: bash

      - name: Publish to npm
        run: yarn publish
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

