---
name: Release Please

on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest

    steps:
      - name: Run release-please
        uses: googleapis/release-please-action@v4.4.0
        id: release
        with:
          release-type: node
          package-name: axios-redmine

      - name: Checkout source code
        if: steps.release.outputs.release_created
        uses: actions/checkout@v4

      - name: Setup Node.js
        if: steps.release.outputs.release_created
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org
          cache: yarn

      - name: Install dependencies
        if: steps.release.outputs.release_created
        run: yarn install --frozen-lockfile
        shell: bash

      - name: Run tests
        if: steps.release.outputs.release_created
        run: yarn test
        shell: bash

      - name: Publish to npm
        if: steps.release.outputs.release_created
        run: npm publish --provenance --access public
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
